nav ul {
    text-align: center;
    width: Calc(100% - 100px);
  }
  
  nav ul li {
      display: inline-block;
    float: right;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: "Barlow Condensed";
    text-transform:uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition-duration: .4s;
    border-radius: 10px;
  }
  
  nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    backdrop-filter: blur(3px);
  }

  @media screen and (max-width: 500px) {

    nav ul li {
        display: inline-block;
        float: none;
    }
    nav ul li a {
        padding: 10px;
    }
    nav ul {
        width: 100%;
        padding: 0;
    }
  }

  @media screen and (max-height: 800px) {
    nav ul li {
        display: inline-block;
        float: none;
    }
    nav ul li a {
        padding: 10px;
    }
    nav ul {
        width: 100%;
        padding: 0;
    }
  }

#navbar {
  display: flex;
  justify-content: center;
  align-content: stretch;
}

#navbar > div {
  text-align: center;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  font-family: "Barlow Condensed";
  text-transform:uppercase;
  font-size: 18px;
  display: block;
  transition-duration: .4s;
  cursor: pointer;
}

#navbar > div:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}

#navbar > div > a {
  text-decoration: none;
  color: #fff;
}

.selected {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  color: #fff;
}