.animate-fade {
  position:relative;
  width: 100%;
  top: -70px;
  animation:fading 2s
}
@keyframes fading {
	0%{opacity:0}50%{opacity:1}
}
@media screen and (max-width:614px) {
.animate-fade {
  position:relative;
  width: 100%;
  top: 0px;
  animation:fading 2s
}
}
