html {
	background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2495247/600/400/m2/fpnw/wm0/372-.jpg?1491252416&s=d772bd77f92fd489bcc1c94f26681c7d");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
body 
{
    padding: 0;
	margin: 0;
    font-family: Verdana;
    background: transparent;    
}

p
{
	font-size: 14px
}

h1
{
	margin: 0;
	font-size: 27;
	color: #D44900;
	letter-spacing: 1px;
	line-height: 100%;
}

h2
{
	margin: 0;
	font-size: 20;
	color: #E47C00;
	letter-spacing: 1px;
	line-height: 100%;
}

/* Guidelines Title */
h3
{
	margin: 0;
	font-size: 27;
	color: #D44900;
	letter-spacing: 1px;
	line-height: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

/* Guidelines Smallest Title */
h4
{
	margin: 0;
	font-size: 15;
	color: #f2982e;
	letter-spacing: 1px;
	line-height: 100%;
}

/* Paragraph Indent */
.tab
{ margin-left: 30px;
}

.page-container
{
    margin: auto;
	margin-top: 10px;
    width: 920px;
	border-top-left-radius:36px;    
    border-top-right-radius:36px;
	border-bottom-left-radius:36px;    
    border-bottom-right-radius:36px;
	box-shadow: 0px 8px 15px grey;
	background: white;
}

/* Header */
.header
{
	border-top-left-radius:36px;    
    border-top-right-radius:36px;
	background-color: #FFF7E6;
	pointer-events: none;
}

/* Navigation Bar */
.navigation
{
    width: 920px;
    height: 41px;
	background-color: #FFF7E6;
}

.navigation ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.navigation li
{
	display: inline-block;
}

.navigation li:not(:first-child)
{
	padding: 6px 0 6px 0;
	border-width: 0 0 0 0.6px;
	border-style: solid;
	border-color: #F2E3C3;
}

.navigation li a
{
	text-decoration: none;
	color: #CC5D00;
	font-size: 20px;
	font-weight: bold;
	padding: 11px 30px;
}

.navigation li a:hover
{
	color: black;
}

/* Layout Waves */
.layout-waves
{
	pointer-events: none;
   background-color: #FFF7E6;
}

/* Introduction */
.introduction
{
	width: 880px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.left-intro-column
{
	display: inline-block;
	height: 270px;
	width: 48%;
	background-image: url("../images/download/download-background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.download-links
{
	margin-top: 100px;
	text-align: center;	
}

.right-intro-column
{
	padding-top: 20px;
	display: inline-block;
	float: right;
	height: 270px;
	width: 48%;
}

/* Gallery */
.gallery
{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.videos
{
	margin-bottom: 20px;
}

.pictures img
{
	width: 157px;
}

/* Features */
.features
{
	background-color: #FFF7E6;
	padding-left: 30px;
	padding-right: 30px;
}

.features-header
{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.recipe-container{
	height: 500px;
	width: 920px;
}

.recipe-iframe{
	margin: auto;
	width: 900px;
	height: 480px;
	position: relative;
	top: 50%;

	transform: translate(0,-240px);
}

.left-feature-col
{
	width: 28%;
	text-align: center;
	display: inline-block;
}

.right-feature-col
{
	padding-top: 30px;
	width: 68%;
	float: right;
	display: inline-block;
	font-size: 20px;
}

.spacer
{
	background-color: #FFF7E6;
	height: 30px;
}

/* Text box */
.text-box
{
	height: 800px;
	overflow-y: scroll;
	margin-left: 20px;
	margin-top: 20px;
}

/* Contact box */
.contact-box
{
	padding-top: 100px;
	height: 500px;
	margin: 20px;
	text-align: center;
}

/* Button */
.button
{
	margin: auto;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	background-color: #FFF7E6;
	width: 120px;
	border-bottom-left-radius:20px;    
    border-bottom-right-radius:20px;
	border-top-left-radius:20px;    
    border-top-right-radius:20px;
}

.button a
{
	text-decoration: none;
	color: black;
}


/* Footer */
.footer
{
	height: 140px;
	background-image: url("../images/layout/footer.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom-left-radius:36px;    
    border-bottom-right-radius:36px;
	background-color: #FFF7E6;
}

.footer-links
{
	display: inline-block;
	float: right;
	text-align: right;
	padding-top: 50px;
	margin-right: 20px;
}

.status-bars
{
	border-bottom-left-radius:20px;    
    border-bottom-right-radius:20px;
	border-top-left-radius:20px;    
    border-top-right-radius:20px;
	background-color: #FFF7E6;
	display: inline-block;
	margin-top: 40px;
	margin-left: 20px;
	width: 190px;
}

#server-status
{
	text-align: center;
}

#qbees-playing
{
	text-align: center;
}

.copyright
{
	text-align: center;
}