body {
    font-family: 'Chivo Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0B2447;
    color:#f0f8ff;
    margin: 0;
    padding: 0;
}

.countdown-container {
    text-align: center;
}

.time-label {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.finished-container {
    display: none;
}

.finished {
    font-size: 48px;
    font-weight: bold;
}